In [17]:
import pymongo
import numpy as np
import numpy
import pandas as pd

In [13]:
client = pymongo.MongoClient("mongodb+srv://LightStoreV1:Maxi3828@farmifycluster-5kqvi.mongodb.net/FarmifyCluster?retryWrites=true&w=majority")
db = client.Farmify

In [25]:
farmsCollection = db["Farms"]
groupCollection = db["Groups"]

In [15]:
data = {
    "Name": "The Apple Farm",
    "Category": "Vineyard",
    "Adress": "25424 Sydney, New South Wales"
}

In [16]:
farmsCollection.insert_one(data)

In [20]:
dfGroups = pd.read_excel("Data/Groups.xlsx")
dfGroups = dfGroups.drop("Unnamed: 0", axis=1)

In [21]:
dfGroups.head()

,farmsIncluded,id,location
0,"[31, 33, 35, 36, 39, 45, 46, 47, 48, 50, 51, 5...",1,"-32.90312568717949,115.65298894358973"
1,"[30, 31, 32, 33, 34, 35, 36, 37, 39, 41, 43, 4...",2,"-33.44937914464286,116.1302205392857"
2,"[30, 32, 34, 37, 41, 43, 44, 81, 83, 84, 85, 8...",3,"-34.702548841176466,117.22504596470588"
3,"[117, 123, 204, 206, 247, 249]",4,"-33.682987649999994,138.58872438333336"
4,"[112, 113, 114, 115, 116, 117, 118, 119, 120, ...",5,"-35.11433341654135,139.03593302706764"

In [28]:
def addGroupsFromDf(df):
    df["id"] = df["id"].apply(lambda x: str(x))
    data = list()
    for i in range(0, len(df)):
        farmsIncluded = [x.strip() for x in df.farmsIncluded[i].split(',')]
        farmsIncluded[0] = farmsIncluded[0][1:]
        farmsIncluded[-1] = farmsIncluded[-1][:-1]
        
        dataRow = {
            "id": df.id[i],
            "location": df.location[i],
            "farmsIncluded": farmsIncluded
        }
        data.append(dataRow)
    
    groupCollection.insert_many(data)

In [29]:
addGroupsFromDf(dfGroups)